@charset "UTF-8";

body{
	margin:0;
	padding:0;
	font-size:small;
	font-family:'小塚ゴシック Pro6N R','メイリオ',Meiryo,'ＭＳ Ｐゴシック';
	background:#fff;

}

img{
	margin:0;
	padding:0;
}

.refrect{
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

/*--ページの枠組み--*/

#bar{
	background:#003333;
	/*background:#241263;*/
}

#logo{
	float:left;
	background:#003333;
	/*background:#241263;*/
}

/*ログデータの時間変更部分*/
#time{
  float:left;
  margin:12px;
  color:#fff;
  /*background:#ff7f00;*/
}

.button1{
	float:left;
    margin:6px;

    width:36px;
    height:36px;
	/*margin-bottom: 0;
	background:#000;
	/*background:#209ce9;*/
    /* 文字サイズを1.4emに指定
	font-size: 14px;
	*/
	/* 文字の太さをboldに指定
	font-weight: bold;
	*/
	/* 縦方向に10px、
	* 横方向に30pxの余白を指定 */
	padding: 5px 5px;

	/*文字色を白色に指定*/
	color: #fff;

	/* ボーダーをなくす */
	border-style: none;

    background-color: #00b2b2;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
    /* グラデーションの指定 */
}

.button1:hover {
	/* 透明度を20%に指定 */
	/*opacity: 0.8;*/
	background:#54c9ff;
}

#filter-btn{
	margin-right:20px;
}

.ui-dialog-titlebar{
  background-color: #00b2b2;
  border-color: #00b2b2;
}


#slide-btn{
	position:absolute;
	top:calc(100% - 40px);
	left:calc(0% + 20px);
	width:150px;
	height:20px;
	z-index:2;
}

.suuzi{
	position:absolute;
	font-size: 10px;
	top:-100%;
	color:#666;
}

.memori{
	position:absolute;
	width:1px;
    height:40%;
    top:-40%;
    background-color: #666;
}

#slider span{
	z-index:4;
}

.ui-slider-handle{
	z-index: 4;
}

.unable-btn{
  background:#AAA;
}

.unable-btn:hover{
  background:#AAA;
}

/*現在に戻るボタン仕様*/
#return{
	position: fixed;
	left:calc(100% - 100px);
	top:calc(10% + 2px);
	float:right;
	margin:12px;
	width:70px;
	height:40px;
	font-weight:bold;
	background:#003333;
	color:#fff;
	border-style:none;
	border-radius: 5px;
}
#return:hover {
	/* 透明度を20%に指定 */
	opacity: 0.8;
	/*background:#54c9ff;*/
}

#focus-btn{
	background:#003333;
}

/*ログデータの時間*/
#logtime{
	margin:9px;
	margin-right:30px;
	font-size: 28px;
	font-weight: 900;
	/*background:#241263;*/
	color:#fff;
	float:right;
}

#hune{
	background:#003333;
}

#shipinfo{
	background:#003333;
}

aside{
	background:#003333;
}


/*----------検索ボタンにカーソルが合った時----------*/
.ui-state-hover,.ui-widget-content .ui-state-hover,.ui-widget-header .ui-state-hover,.ui-state-focus,.ui-widget-content .ui-state-focus,.ui-widget-header .ui-state-focus{
  border:1px solid #f0f8ff;
  background: #66cdaa;
  /*opacity:0.5; */
  font-weight:bold;
  color:#241263;
}

/*---------ダイアログのバー------*/
.ui-dialog .ui-dialog-titlebar{
  padding: .4em 1em;
  position: relative;
  background:#003333;
  border-color:#003333;
}


